<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LushMinds 🌸</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="floating-flowers">
    <span>🌸</span>
    <span>🌸</span>
    <span>🌸</span>
    <span>🌸</span>
    <span>🌸</span>
    </div>

    <div class="container">
        <h1>LushMinds 🌸</h1>
        <h2>Whispers of Gratitude and Wishes 💫:</h2>

        {% if reflections %}
            <ul>
                {% for gratitude, message, wish in reflections %}
                    <li>
                        <p><strong>'Gratitude' for Today:</strong> {{ gratitude }}</p>
                        <p><strong>One 'Positive' Affirmation:</strong> {{ message }}</p>
                        <p><strong>One 'Wish' to the Universe:</strong> {{ wish }}</p>
                        <hr>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No reflections yet! Start reflecting and they will appear here. 🌟</p>
        {% endif %}

        <a href="/">Go back to the Reflection Page</a>
    </div>

    <footer class="footer">
        <p>&copy; 2025 LushMinds. All rights reserved. 🌸 | Made with love & gratitude✨</p>
    </footer>
</body>
</html>

